manifest {
  description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow' 
}

/* 
 * defines execution profiles for different environments  
 */ 

aws {
	region = 'eu-west-1'
	client {
		storageEncryption = 'AES256'
	}
}

executor {
    name = 'awsbatch'
    awscli = '/tmp/miniconda/bin/aws'
}

process {
    queue = 'computeEnvironment'
    container = 'job-definition://'
}

