manifest {
  description = 'Example RNA-seq pipeline for ENCODE data on AWS Batch implemented with Nextflow' 
}

/* 
 * defines execution profiles for different environments  
 */ 

aws {
	region = 'eu-west-1'
	client {
		storageEncryption = 'AES256'
	}
}

executor {
    name = 'awsbatch'
    awscli = '/tmp/miniconda/bin/aws'
}

process {
    container = 'rna-seq-nf'
}

