manifest {
  description = 'Example RNA-seq pipeline for ENCODE data on AWS Batch implemented with Nextflow' 
}

/* 
 * Basic execution resources 
 */
process {
    container = 'nextflow/rnaseq-nf'
    errorStrategy = 'ignore'  
    $index.cpus = 4 
    $index.memory = '30 GB'
    $parseEncode.memory = '4 GB'
    $quant.cpus = 8 
    $quant.memory = '16 GB' 
    $fastqc.cpus = 4 
    $fastqc.memory = '8 GB'
    $multiqc.cpus = 1 
    $multiqc.memory = '8 GB'
}

/* 
 * environment specific configuration 
 */ 
 
profiles {

    awsbatch {
        aws.region = 'eu-west-1'
        aws.client.storageEncryption = 'AES256'
        process.queue = 'large'
        executor.name = 'awsbatch'
        executor.awscli = '/home/ec2-user/miniconda/bin/aws'
    }
    
    'crg-cluster' {
        executor = 'crg'
        singularity.enabled = true
        process.container = "docker://nextflow/rnaseq-nf"
        process.queue = 'short-sl7'
        process.time = '90 min'
        process.$quant.time = '4.5 h'
        env._JAVA_OPTIONS='-Djava.io.tmpdir=$TMPDIR'
    }

} 


